
@{
    ViewBag.Title = "Payment";
}



<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <main class="col-md-9">
                <div class="card">

                    <table class="table table-borderless table-shopping-cart">
                        <div class="d-flex justify-content-center">
                            <i class="fas fa-check-circle fa-3x" style="color:lawngreen"></i><br />
                        </div>
                        <div class="d-flex justify-content-center">
                            <h2>Thanh toán thành công</h2>
                        </div>
                    </table>

                    <div class="card-body border-top">
                        <a href="@Url.Action("Home","Home")" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Tiếp tục mua hàng </a>
                    </div>
                </div> <!-- card.// -->

                <div class="alert alert-success mt-3">
                    <p class="icontext"><i class="icon text-success fa fa-truck"></i> Miễn phí vận chuyển trong vòng 1-2 tuần</p>
                </div>

            </main> <!-- col.// -->
            <!--<aside class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>have coupon?</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="" placeholder="coupon code">
                                    <span class="input-group-append">
                                        <button class="btn btn-primary">apply</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>--> <!-- card-body.// -->
                <!--</div>   card .// 
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>total price:</dt>
                            <dd class="text-right">usd 568</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>discount:</dt>
                            <dd class="text-right">usd 658</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>total:</dt>
                            <dd class="text-right  h5"><strong>$1,650</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="images/misc/payments.png" height="26">
                        </p>

                    </div>  card-body.// 
                </div>   card .// 
            </aside>  col.//--> 
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name border-top padding-y">
    <div class="container">
        <h6>Chính sách vận chuyển</h6>
        <p>
            <h5 style="color:red"> TP.HỒ CHÍ MINH</h5>
            • Nội thành TP. Hồ Chí Minh: Quận 1, 3, 4, 5, 6, 7, 8, 10, 11, Tân Phú, 
            Tân Bình, Phú Nhuận, Gò Vấp, Bình Thạnh, Bình Tân.
            <br />
            • Ngoại thành TP. Hồ Chí Minh:  Quận 12, TP. Thủ Đức (Thủ Đức, Q2, Q9), Huyện Củ Chi, 
            Huyện Hóc Môn, Huyện Bình Chánh, Huyện Nhà Bè.
        </p>
        <p>
            <h5 style="color:red">TP. HÀ NỘI</h5>        
            • Nội thành Hà Nội: Quận Ba Đình, Hoàn Kiếm, Đống Đa, Hai Bà Trưng, Cầu Giấy, 
            Thanh Xuân, Tây Hồ, Long Biên, 
            Hà Đông, Bắc – Nam Từ Liêm, Hoàng Mai, Đông Anh, Gia Lâm, Hoài Đức, Chương Mỹ, 
            Mê Linh, Thanh Trì, Đan Phượng, Thanh Oai.
        </p>
        <p>
            <h6>Thời gian giao hàng khu vực nội thành:</h6>

            ➤ Đơn hàng xác nhận trước 15h bạn sẽ nhận hàng sau 1~2 ngày đặt hàng.
            <br />
            ➤ Đơn hàng xác nhận sau 15h thời gian toàn trình sẽ cộng thêm 1 ngày.
            <br />
            ➤ Quý khách được hỗ trợ giao hàng lại lần 2 nếu lần giao đầu tiên không thành công. Hoặc nhờ người thân, bạn bè nhận hộ nếu có việc đột xuất không có ở địa chỉ nhận hàng.
            <br />
            <br />
            <h6>Thời gian giao hàng khu vực ngoại thành:</h6>

            ➤ Đơn hàng xác nhận trước 15h bạn sẽ nhận hàng sau 2~3 ngày đặt hàng.
        </p>

    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->
